.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--margin-mobile) 28px;
  position: relative;
}

.hero__title {
  grid-column: span 2;
}

.hero__description {
  margin-top: 22px;
  grid-column: span 2;
}

.hero__button {
  margin-top: 40px;
  grid-column: span 1;
  align-self: start;
  justify-self: start;
}

.hero__image {
  justify-self: center;
}

.hero__ornament--halfcircle {
  width: 70px;
  height: 50px;
  right: 1rem;
  top: 20px;
}

.hero__ornament--waves {
  width: 100px;
  left: 32px;
  bottom: 5rem;
}

.hero__ornament--triangle {
  width: 40px;
  height: 35px;
  right: 20px;
  bottom: 8rem;
}

.hero__ornament--empty-triangle {
  position: absolute;
  display: none;
}

.hero__ornament--special-triangle {
  position: absolute;
  display: none;
}

@media (min-width: 768px) {
  .hero {
    grid-template-columns: 1fr 4fr;
    padding: var(--margin-tablet) 0;
    column-gap: 40px;
    align-items: center;
  }

  .hero__title {
    grid-column: 2 / 3;
  }

  .hero__description {
    grid-column: 2 / 3;
  }

  .hero__button {
    grid-column: 2 / 3;
    margin: 0;
  }

  .hero__image {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    min-width: 169px;
    min-height: 364px;
  }

  .hero__ornament--halfcircle {
    left: 14rem;
  }

  .hero__ornament--triangle {
    left: 10rem;
    bottom: 6rem;
    width: 45px;
  }

  .hero__ornament--waves {
    left: 4rem;
    bottom: 13rem;
    width: 136px;
  }

  .hero__ornament--empty-triangle {
    display: block;
    position: absolute;
    right: 2rem;
    bottom: 6rem;
    width: 90px;
    height: 90px;
  }

  .hero__ornament--special-triangle {
    display: block;
    top: 3rem;
    right: 0;
    width: 56px;
    height: 56px;
    position: absolute;
  }
}

@media (min-width: 1440px) {
  .hero {
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    column-gap: 260px;
  }

  .hero__title {
    grid-column: 2 / 3;
    align-self: end;
  }

  .hero__description {
    grid-column: 2 / 3;
  }

  .hero__button {
    align-self: start;
    grid-column: 2 / 3;
  }

  .hero__image {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    min-width: 250px;
    min-height: 500px;
  }

  .hero__ornament--halfcircle {
    width: 90px;
    height: 60px;
    left: 22rem;
  }

  .hero__ornament--triangle {
    bottom: -2rem;
    left: 16rem;
    width: 120px;
    height: 120px;
  }

  .hero__ornament--waves {
    left: 2rem;
    bottom: 15rem;
    width: 250px;
  }

  .hero__ornament--special-triangle {
    top: 2rem;
    right: 3rem;
    width: 87px;
    height: 87px;
  }

  .hero__ornament--empty-triangle {
    display: block;
    position: absolute;
    right: 5rem;
    bottom: 10rem;
  }
}
