:root {
  --color-primary: #F04037;
  --color-secondary: #C9362E;
  --color-dark: #19191B;
  --color-light: #FFFFFF;
  --color-gray: #BABABA;

  --badge-radius: 4px;
  --input-radius: 5px;
  --button-radius: 6px;
  --full-radius: 50%;
  
  --title-mobile: 40px;
  --title-tablet: 48px;
  --title-desktop: 54px;

  --title-section-mobile: 32px;
  --title-section-tablet: 40px;
  --title-section-desktop: 48px;

  --description-mobile: 10px;
  --description-tablet: 12px;
  --description-desktop: 14px;

  --margin-mobile: 54px;
  --margin-tablet: 96px;
  --margin-desktop: 120px;

  --margin-section-mobile: 32px;
  --margin-section-tablet: 54px;
  --margin-section-desktop: 72px;
}